.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  position: relative;
  height: 60px;
  width: 384px;
}
.wrapper2 {
  position: relative;
  height: 120px;
  width: 240px;
}

.box1 {
  position: absolute;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid gray;
  user-select: none;
  touch-action: none;
}

.box2 {
  position: absolute;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid gray;
  user-select: none;
  touch-action: none;
}

.next {
  z-index: -1;
}
